# Local Environment Secrets (CRITICAL)
.env
*.env
.env.local


# OS Specific Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

/target
/backend/target

/docs